
/* ----------------------------------------------------------------------------------------------------------- */
/* Custom */

/* border-box tells the browser to account for any border and padding in the values you specify for an element's width and height. If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width. This typically makes it much easier to size elements. */
* {
  box-sizing: border-box;
  /* Added during Project3-group3 */
  flex-direction: row !important;  
}

h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.search {
  padding: 10px;
font-size: 17px;
border: 1px solid grey;
float: left;
width: 80%;
background: #f1f1f1;
}

/* Card items start --------------------------------------------------------------------- */
/* Added during Project3-group3 */

.data-box {
  background: url(./img/covid-19.png) center no-repeat;
}

.form-box {
  background: url(./img/maskedCrowd.png) no-repeat center;
}


.card-custom {
  color: red;
}

.homepage-bgimage {
  background: url(./img/covid-19.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.select-box{
border: 5em;
background-color: white;
color: blue;
padding: 25px 75px !important;
}

.footer {
    padding: 10px;
}

.mice {
  background: url(./img/three-mice.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 250px; 
  height: 150px; 
  position: relative;
  overflow: hidden;
  margin: 10px; 
  float: right;
}    

#footer {
  /* Some padding and margin added to show seperation for future styling */
  padding: 10px;
  overflow: hidden; 
  margin: 10px;
  background-color: ivory;
}
  #footer p#totop {
      font-size: 12px; 
      float: right; 
      margin: 0 30px 0 0;
  }
      #footer a {
      color: #a12121; 
      text-decoration: none;
  }
      #footer a:hover {
          color: #671111;
            }
/* end of newly created Project3-group3 styles (others in doc were altered as wel) */

ul.list-group {
  min-height: 130px;
}

body {
  font-family: "Open Sans", sans-serif;
}


.dropover {
  background-color: rgba(0,0,0,0.3);
}

.dropover-active {
  background-color: rgba(0,0,0,0.3);
}

.bottom-trash {
    opacity: 0;
    color: #f1f1f1;
    font-size: 2.3rem;
    font-family: "Staatliches", sans-serif;
    transform: translateY(150px);
    transition: all .5s ease-in-out;
    background-color: rgba(234,0,39,0.7);
}

.bottom-trash-drag {
  transform: translateY(0);
  opacity: 1;
}

.bottom-trash-active {
  background-color: rgba(234,0,39,1);
}

.btn-add, .btn-save {
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.btn-close, .btn-delete {
  background-color: #EA0028;
  background-image: linear-gradient(180deg, #FF9A8B 0%, #EA0028 100%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.btn-add:hover, .btn-save:hover, .btn-close:hover, .btn-delete:hover {
  background-position: 1px -50px;
}


/* Card items end --------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------------------------- */

.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  